<div class="row">
  <div class="col-md-8 col-xs-12 col-centered">
    <div class="col-md-12 col-xs-12 col-centered">
      <img src="images/about.jpg" class="artwork">
    </div>
    <div class="col-md-12 col-xs-12 col-centered" >
      <p>Founded in 2015 by Bee Tajudeen,  Black Blossoms is dedicated to highlighting the voices of black women in the creative industries by hosting exhibitions, conferences and screenings. The hope is society can use their messages to blossom in their day to lives and plant seeds to improve our world.</p>
    </div>
  </div>
</div>
