<div class="row">
  <div class="col-md-10 col-xs-12 col-centered">
    <div class="col-md-3 col-xs-6">
      <img src="./Afropunk.jpg">
    </div>
    <div class="col-md-3 col-xs-6">

    </div>
    <div class="col-md-3 col-xs-6">
      <img src="src/images/Afropunk.jpg">
    </div>
  </div>
</div>
<img src="Afropunk.jpg">
<img src="src/images/Afropunk.jpg">
<img src="/Users/buki/development/blackblossoms/blackblossoms-angularjs/src/images/buzzfeed.jpg">
<img src="../src/images/buzzfeed.jpg">
<img src="../images/buzzfeed.jpg">
<img src="../buzzfeed.jpg">
<img src="buzzfeed.jpg">
<h1>hello</h1>
