<div class="row">
  <div class="col-md-12 col-xs-12 col-centered">
    <div class="col-md-4 col-xs-6">
      <a href="http://afropunk.com/2017/11/interview-uk-based-arts-organization-black-blossoms-going-heal-let-glorious/"><img src="../images/afropunk.jpg" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://www.bbc.co.uk/newsbeat/article/37715090/that-black-british-feeling-does-the-uk-need-black-lives-matter"><img src="../images/bbc.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
    <a href="https://www.buzzfeed.com/victoriasanusi/a-woman-created-an-exhibition-that-embodies-black-girl-magic"><img src="../images/buzzfeed.jpg" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://corridor8.co.uk/article/black-blossoms-royal-standard-going-heal-let-glorious/"><img src="../images/corridor8.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="https://www.creativetourist.com/event/if-we-are-going-to-heal-let-it-be-glorious/"><img src="../images/creative_Tourist_logo.jpg" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://www.thedoublenegative.co.uk/2017/09/its-exhausting-and-it-hurts-brown-girl-in-the-art-world/"><img src="../images/double_negative.jpg" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://www.gal-dem.com/tag/black-blossoms/"><img src="../images/galdem.gif" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://blog.liverpoolmuseums.org.uk/tag/black-blossoms/"><img src="../images/liverpool_Musuem.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://www.mobo.com/news-blogs/blossomsofthemoment-4-creatives-who-are-setting-trends-and-breaking-down-barriers"><img src="../images/mobo.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://www.ronkelawal.com/2017/07/creatives-can-secure-media-coverage-black-blossoms-artist-conference.html"><img src="../images/ronke_Lawal.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://www.embellishedtalk.com/talking-textiles/"><img src="../images/embelished_talk.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://shadesofnoir.org.uk/son-covers-black-blossoms-exhibition-private-view-2016/"><img src="../images/shadesof_Noir.jpeg" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://web.sheffieldlive.org/black-blossoms-exhibition-at-the-workstation/"></a><img src="../images/sheffieldLiveOnly.jpg" class="press">
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="https://www.the-pool.com/arts-culture/things-to-do/2017/36/things-to-do-this-weekend-08-09"><img src="../images/thepool.png" class="press"></a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="http://newsevents.arts.ac.uk/52915/if-were-going-to-heal-let-it-be-glorious-powerful-black-blossoms-exhibition-tours-the-country/"><img src="../images/ual.png" class="press"></a>
    </div>
  </div>
</div>
