<!DOCTYPE html>
<html ng-app="bb">
  <head>
    <meta charset="utf-8">
    <title>BlackBlossoms</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <base href="/" />
  </head>
  <body class="container">
    <nav class="tabs">
      <a ui-sref="home">Home</a>
      <a ui-sref="artistsIndex">Artists</a>
      <a ui-sref="press">Press</a>
      <a ui-sref="about">About</a>

      <a ui-sref="login">login</a>
      <a ui-sref="usersIndex">user</a>
      <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
    </nav>
    <main ui-view></main>
    <footer>Footer information</footer>
  </body>


</html>
