
nav {
  list-style: none;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  a {
    color: black;
  display: inline-block;
  float: center;
  margin-left: 20px;
  line-height: 40px;
  }
}
