@import "variables";
@import "mixins";
@import 'footer';
@import 'auth';
@import 'user_header';
@import 'type_index';
@import "nav";

body {
@include masonry;
padding-bottom: 60px;
}

div {
  // border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.artwork {
  width: 550px;
  height: auto !important;
  padding: 3px;
}

.press {
  width: 200px;
  height: auto !important;
  padding: 3px;
}

.gallery {
  width: 400px;
  height: 380px;
}
