<h1>Edit Post</h1>

<form ng-submit="postsEdit.update()">
  <div class="form-group">
    <label for="date">date</label>
    <input  name="date" id="date" ng-model="postsEdit.post.date" class="form-control">
  </div>
  <div class="form-group">
    <label for="heading">heading</label>
    <input type="text" name="heading" id="heading" ng-model="postsEdit.post.heading" class="form-control">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <input type="text" name="body" id="body" ng-model="postsEdit.post.body" class="form-control">
  </div>

  <button class="btn btn-primary">Update</button>
</form>
